<div class="container mt-4">

  <div class="row">
    <div class="col-md-3">

      <h3>Controle de Contas</h3>
      <p>
        COTI Informática - Treinamento Java WebDeveloper FullStack
      </p>

      <div class="d-grid gap-2 mb-1">
        <a routerLink="login-usuario" class="btn btn-outline-primary">
          Autenticar Usuário
        </a>
      </div>

      <div class="d-grid gap-2 mb-1">
        <a routerLink="cadastro-usuario" class="btn btn-outline-primary">
          Cadastrar Usuário
        </a>
      </div>

      <div class="d-grid gap-2 mb-1">
        <a routerLink="cadastro-contas" class="btn btn-outline-primary">
          Cadastrar Contas
        </a>
      </div>

      <div class="d-grid gap-2 mb-1">
        <a routerLink="consulta-contas" class="btn btn-outline-primary">
          Consultar Contas
        </a>
      </div>
    </div>
    <div class="col-md-9">

      <div class="card">
        <div class="card-body">
          <router-outlet></router-outlet>
        </div>
      </div>

    </div>
  </div>

</div>
